<!DOCTYPE HTML>

<html>
	<head>
		<title>Martellini Construction</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Home</strong> <span>Martellini Construction +1 (443) 440-6540</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="windows.html">Windows</a></li>
							<li><a href="doors.html">Doors</a></li>
							<li><a href="roofing.html">Roofing & Siding</a></li>
							<li><a href="restorations.html">Restorations</a></li>
							<li><a href="guide.html">Martellini Construction Home Improvement Guide</a></li>
							<li><a href="about.html">About Us</a></li>
							<li><a href="solar.html">Solar Options</a></li>
							<li><a href="careers.html">Careers</a></li>
							
							
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Return</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hi, my name is Forty</h1>
							</header>
							<div class="content">
								<p>Contact us today to start the project of your dreams!
									<br />
								and released under the Creative Commons.</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get A Quote</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="windows.html" class="link">Windows</a></h3>
										<p>Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="doors.html" class="link">Doors</a></h3>
										<p>feugiat amet tempus</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="roofing.html" class="link">Roofing & Siding</a></h3>
										<p>Lorem etiam nullam</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="restorations.html" class="link">restorations</a></h3>
										<p>Nisl sed aliquam</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="gutte.html" class="link">Gutters</a></h3>
										<p>Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Restorations</a></h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Martellini Construction Home Improvement Guide</a></h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Contact Us</a></h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Why Choose Martellini?</h2>
									</header>
									<h2>Outstanding Quality</h2><br> <br>
									<p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>
									<br><br>
									<h2>Excellent Customer Service</h2>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<h2>Long-term Warranty</h2>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<h2>Why Choose Martellini?</h2>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<ul class="actions">
										<li><a href="landing.html" class="button next">Get Started</a></li>
									</ul>
									<div class="container">
										<div class="column-center">Column center</div>
										<div class="column-left">Column left</div>
										<div class="column-right">Column right</div>
									 </div>
								</div>
							</section>
							<section>
								<div>
									<h2>Watch an installation</h2><br>
									<iframe width="560" height="315" src="https://www.youtube.com/embed/G7yz7qaCd3Q" data-reactid="81"></iframe>
								</div>
							</section>

					</div>

				<!-- Quote -->
				<section id="contact">
					<div class="inner">
						<section>
							<form method="POST" action="send">
								<div class="fields">
									<div class="field half">
										<label for="name"></label>
										<input type="text" name="name" id="name" placeholder="Name"/>
									</div>
									<div class="field half">
										<label for="email"></label>
										<input type="text" name="email" id="email" placeholder="Email"/>
									</div>
									<div class="field half">
										<label for="address"></label>
										<input type="text" name="address" id="address" placeholder="Address"/>
									</div>
									<div class="field half">
										<label for="city"></label>
										<input type="text" name="city" id="city" placeholder="City"/>
									</div>
									<div class="field half">
										<label for="zip"></label>
										<input type="text" name="zip" id="zip" placeholder="Zip"/>
									</div>
									<br><br>
									<div >
										<input  type="checkbox" id="inlineCheckbox1" value="option1">
										<label  for="inlineCheckbox1">1</label>
									  </div>
									  <div >
										<input  type="checkbox" id="inlineCheckbox2" value="option2">
										<label  for="inlineCheckbox2">2</label>
									  </div>
									  <div >
										<input  type="checkbox" id="inlineCheckbox3" value="option3" >
										<label  for="inlineCheckbox3">3 (disabled)</label>
									  </div>
									  
									  <input type="radio" name="editList" id="always" value="always"/>
										<label for="always">Always</label>

										<input type="radio" name="editList" id="never" value="never"/>
										<label for="never">Never</label>

										<input type="radio" name="editList" id="change" value="costChange"/>
										<label for="change">Cost Change</label>
									<div class="field">
										<label for="message"></label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" class="primary" /></li>
									<li><input type="reset" value="Clear" /></li>
								</ul>
							</form>
						</section>
					</div>
				</section>


					<section id="contact">
						<div class="inner">
							<section>
								<form method="POST" action="send">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">sasha@martelliniconstruction.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+1 (443) 440-6540</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-home"></span>
										<h3>Address</h3>
										<span>913 Southerly Road Room 477 <br>
											Towson, MD 21204 <br>
											United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li> Dylan Godfrey & Joseph Dambida</li><li> <a href="#">&copy; Martellini Construction</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			

	</body>
</html>