<!DOCTYPE HTML>

<html>
	<head>
		<title>Martellini Construction</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Home</strong> <span>Martellini Construction (443) 255-9586</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
                            <ul class="links">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="windows.html">Windows</a></li>
                                    <li><a href="doors.html">Doors</a></li>
                                    <li><a href="roofing.html">Roofing & Siding</a></li>
                                    <li><a href="restorations.html">Restorations</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="solar.html">Solar Options</a></li>
                                    
                                    
                                </ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Return</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
								<article>
										<span class="image">
											<img src="images/bannerbackground.jpg" alt="" />
										</span>
										<header class="major">
											<h3><a href="#one" class="link">Doors Solutions</a></h3>
											<p>We offer multiple solutions for Doors ranging from repairs to replacements.</p>
										</header>
								</article>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
						<section id="one" class="tiles2">
								<article style="height: 100%; width: 50%; padding: 0;"; padding: 0;>
									<span class="image" style="min-width: 100%; padding:0;" style="min-width: 100%; padding:0;"> 
										<img style="min-width: 100%;" style="min-width: 100%;" src="images/sliding.jpg" alt="" />
									</span>
									
								</article>
								<article style="height: 75vh; width: 50%">
									
									<header class="major" >
										<h3>Windows</h3>
										<p>feugiat amet tempus</p>
									</header>
								</article>
								<article style="height: 75vh; width: 50%">
									
									<header class="major">
										<h3>Roofing</h3>
										<p>Lorem etiam nullam</p>
									</header>
								</article>
								<article style="height: 100%; width: 50%; padding: 0;">
									<span class="image" style="min-width: 100%; padding:0;">
										<img style="min-width: 100%;" src="images/casement.jpg" alt="" />
									</span>
									
								</article>
								<article style="height: 100%; width: 50%; padding: 0;">
									<span class="image" style="min-width: 100%; padding:0;">
										<img style="min-width: 100%;" src="images/singlehung.jpg" alt="" />
									</span>
									
								</article>
								<article style="height: 75vh; width: 50%">
								
									<header class="major">
										<h3>Restorations</h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>
								<article style="height: 75vh; width: 50%">
									
									<header class="major">
										<h3>Martellini Construction Home Improvement Guide</h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>
								<article style="height: 100%; width: 50%; padding: 0;">
									<span class="image" style="min-width: 100%; padding:0;">
										<img style="min-width: 100%;" src="images/doublehung.jpg" alt="" />
									</span>
									<header class="major">
										
									</header>
								</article>
							</section>

						<!-- Two -->
							
				<!-- Quote -->
				<section id="contact">
						<div style="padding: 0 2em">
							<section>
								<form method="POST" action="send">
									<div class="fields">
										<div class="field half">
											<label for="name"></label>
											<input type="text" name="name" id="name" placeholder="Name"/>
										</div>
										<div class="field half">
											<label for="email"></label>
											<input type="text" name="email" id="email" placeholder="Email"/>
										</div>
										<div class="field half">
											<label for="address"></label>
											<input type="text" name="address" id="address" placeholder="Address"/>
										</div>
										<div class="field half">
											<label for="city"></label>
											<input type="text" name="city" id="city" placeholder="City"/>
										</div>
										<div style="width: 100%;"class="field half">
											<label for="zip"></label>
											<input style="width: 50vw;" type="text" name="zip" id="zip" placeholder="Zip"/>
										</div>
										<br><br>
										<div >
											<input  type="checkbox" id="inlineCheckbox1" value="windows">
											<label  for="inlineCheckbox1">Windows</label>
										  </div>
										  <div >
											<input  type="checkbox" id="inlineCheckbox2" value="doors">
											<label  for="inlineCheckbox2">Doors</label>
										  </div>
										  <div >
											<input  type="checkbox" id="inlineCheckbox3" value="roofing" >
											<label  for="inlineCheckbox3">Roofing</label>
										  </div>
										  <div >
												<input  type="checkbox" id="inlineCheckbox4" value="siding" >
												<label  for="inlineCheckbox4" >Siding</label>
											  </div>
											  <br>
											  <br>
										  <input type="radio" name="residential" id="residential" value="residential"/>
											<label for="residential">Residential</label>
	
											<input type="radio" name="commercial" id="commercial" value="commercial"/>
											<label for="commercial">Commercial</label>
	
											
										<div class="field">
											<label for="message"></label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Get Quote" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
						</div>
					</section>
	


					<section id="contact">
						<div class="inner">
							<section>
								<form method="POST" action="send">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">sasha@martelliniconstruction.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(443) 255-9586</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-home"></span>
										<h3>Address</h3>
										<span>913 Southerly Road Room 477 <br>
											Towson, MD 21204 <br>
											United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
                                <ul class="icons">
                                        <li><a href="https://www.facebook.com/martellinicontruction/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="https://www.linkedin.com/company/martellini-construction-inc/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                    </ul>
							<ul class="copyright">
								<li> Dylan Godfrey & Joseph Dambida</li><li> <a href="#">&copy; Martellini Construction</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			

	</body>
</html>