<!DOCTYPE HTML>

<html>
	<head>
		<title>Martellini Construction</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Home</strong> <span>Martellini Construction +1 (443) 440-6540</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="windows.html">Windows</a></li>
							<li><a href="doors.html">Doors</a></li>
							<li><a href="roofing.html">Roofing & Siding</a></li>
							<li><a href="about.html">About Us</a></li>
							<li><a href="solar.html">Solar Options</a></li>
							
							
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Return</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
							<span class="image">
									<img src="images/solar2.jpeg" alt="" />
								</span>
						<div class="inner">
							<header class="major">
								<h1>Martellini Construction</h1>
							</header>
							<div class="content">
								<p>Contact us today to start the project of your dreams!
									<br />
								</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get A Quote</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/singlehung.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="windows.html" class="link">Windows</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/aluminium.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="doors.html" class="link">Doors</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/siding.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="roofing.html" class="link">Roofing & Siding</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/bannerbackground.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="roofing.html" class="link">Restorations</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/careers.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="#contact" class="link">Careers</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="about.html" class="link">About Us</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/solar.jpeg" alt="" />
									</span>
									<header class="major">
										<h3><a href="solar.html" class="link">Solar Solutions</a></h3>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Contact Us</a></h3>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Why Choose Martellini?</h2>
									</header>
									<h2>Mission</h2>
									<p>OUR MISSION IS TO MAKE SURE YOUR HOUSE IS REPAIRED LOOKING BETTER THAN EVER! OUR CONTRACTORS WORK WITH YOU AND YOUR INSURANCE PROVIDING THE MOST ETHICAL AND COST-EFFICIENT SOLUTIONS.</p>
									
									<h2> Excellent Services with Long-term Warranty</h2>
									<p>
											Energy efficient doors and windows are the key to keeping your house warm in winter and cool in the summer. At Martellini, we can help you reduce your energy usage.
									</p>
									<h2>Why Choose Martellini?</h2>
									<p>
											Martellini Construction provides exterior home repairs and remodeling for homeowners. We work in the Baltimore area and have served more 50 homeowners. A team of 30 contractors, installers and salespersons are licensed and trained for ethical business.
									</p>
									<h2>Financing Options</h2>
									<p>We survey your house for you and work with your adjuster to identify the type of damage done to your property. Depending on the cause and your insurance will determine whether your insurance will cover your costs. For a majority of our clients, they've had their exteriors improved at no cost to them! Moreover, our licensed workers adds validity to insurance companies, which allows us to save our clients money. Every client is different so contact us for consultation!</p>
									
									<ul class="actions">
										<li><a href="#contact" class="button next">Get Started</a></li>
									</ul>
									
								</div>
							</section>
							<section>
								<div>
									<h2 style="text-align: center">Watch an Installation</h2><br>
									<iframe style=" margin: 0 13.5vw 2em;
									width: 75vw;
									left: 50%;" height="315" src="https://www.youtube.com/embed/G7yz7qaCd3Q" data-reactid="81"></iframe>
								</div>
							</section>

					</div>

				<!-- Quote -->
				<section id="contact">
					<div style="padding: 0 2em">
						<section>
							<form method="POST" action="send">
								<div class="fields">
									<div class="field half">
										<label for="name"></label>
										<input type="text" name="name" id="name" placeholder="Name"/>
									</div>
									<div class="field half">
										<label for="email"></label>
										<input type="text" name="email" id="email" placeholder="Email"/>
									</div>
									<div class="field half">
										<label for="address"></label>
										<input type="text" name="address" id="address" placeholder="Address"/>
									</div>
									<div class="field half">
										<label for="city"></label>
										<input type="text" name="city" id="city" placeholder="City"/>
									</div>
									<div style="width: 100%;"class="field half">
										<label for="zip"></label>
										<input style="width: 50vw;" type="text" name="zip" id="zip" placeholder="Zip"/>
									</div>
									<br><br>
									<div >
										<input  type="checkbox" id="inlineCheckbox1" value="windows">
										<label  for="inlineCheckbox1">Windows</label>
									  </div>
									  <div >
										<input  type="checkbox" id="inlineCheckbox2" value="doors">
										<label  for="inlineCheckbox2">Doors</label>
									  </div>
									  <div >
										<input  type="checkbox" id="inlineCheckbox3" value="roofing" >
										<label  for="inlineCheckbox3">Roofing</label>
									  </div>
									  <div >
											<input  type="checkbox" id="inlineCheckbox4" value="siding" >
											<label  for="inlineCheckbox4" >Siding</label>
										  </div>
										  <br>
										  <br>
									  <input type="radio" name="residential" id="residential" value="residential"/>
										<label for="residential">Residential</label>

										<input type="radio" name="commercial" id="commercial" value="commercial"/>
										<label for="commercial">Commercial</label>

										
									<div class="field">
										<label for="message"></label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Get Quote" class="primary" /></li>
									<li><input type="reset" value="Clear" /></li>
								</ul>
							</form>
						</section>
					</div>
				</section>


					<section id="contact">
						<div class="inner">
							<section>
								<form method="POST" action="send">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">sasha@martelliniconstruction.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-phone"></span>
										<h3>Phone</h3>
										<span>+1 (443) 440-6540</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-home"></span>
										<h3>Address</h3>
										<span>913 Southerly Road Room 477 <br>
											Towson, MD 21204 <br>
											United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/martellinicontruction/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.linkedin.com/company/martellini-construction-inc/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li> Dylan Godfrey </li><li> <a href="#">&copy; Martellini Construction</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			

	</body>
</html>